body {
    background-color: lightblue;
  } 
  td {
    color: rgba(94, 6, 6, 0.863);
    background-color: rgb(173, 230, 181);
    margin-left: 20px;
  }
  div {
    border-spacing: 10px;
    background-color: rgb(226, 220, 255);
    width: fit-content;
  }